
html,
body,
#app {
  margin: 0;
  height: 100%;
}

text {
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
} 

#app {
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  background-image:url("../images/body_background.jpg");
  background-repeat: no-repeat;
  background-position:left top;
  background-size:cover
}
